* {
  background: #444444;
  color: #efefef;
}

QWidget#versions QLabel {
  font-size: 12px;
}

QTextEdit {
  font-size: 14px;
  background-image: url(:/images/C_desaturated.png);
  background-position: center;
  background-repeat: no-repeat
}
