* {
  background: #202020;
  color: #efefef;
}

MainWindow {
  min-width: 60em;
  min-height: 10em;
}

QWidget#info  QLabel {
  font-size: 8pt;
}

QTextEdit {
  font-size: 9pt;
  background-image: url(:/images/C_desaturated.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
