
#side-bar {
    position: fixed;
    height: 100vh;
    background-color: #353535;
    width: 100px;
}

#side-bar a {
    opacity: 0.7;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-top: 45px;
}


#side-bar .reload-config {
    position: absolute;
    bottom: 0;
    height: 100px;

    opacity: 0.7;
    color: #fff;
    font-size: 0.8em;
    text-decoration: none;
    text-align: center;
    display: block;
}

#side-bar .reload-config svg {
    transition: 0.5s all;
}

#side-bar .reload-config:hover svg {
    transform: rotate(-10deg);
}

#side-bar .reload-config.reloading svg {
    transform: rotate(0deg);
    animation-name: spin;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

#side-bar a.active {
    opacity: 1.0;
}

#side-bar .icon path,
#side-bar .icon polygon {
    fill: none;
    stroke: #fff;
    stroke-width: 3px;
} 

#side-bar a.active .icon path,
#side-bar a.active .icon polygon
{
    fill: #fff;
    stroke: none;
}

#side-bar .icon {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

#side-bar .icon .icon-fill {
    fill: #fff;
}

@media (max-width: 600px) {
    #side-bar {
        position: static;
        height: 100px;
        width: 100%;
    }

    #side-bar a {
        display: inline-block;
        width: 100px;
        padding-top: 20px;
    }
}


@keyframes spin {
    from {transform: rotate(0deg);}
    from {transform: rotate(-360deg);}
}



